{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <h1>Checkout</h1>

  <div class="order-info">
    <h3>Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {% csrf_token %}

    {% for field in form %}
      <div style="margin-bottom: 15px;">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.errors %}
          <div style="color: red;">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}

    <p><input type="submit" value="Place order" class="button"></p>
  </form>
{% endblock %}